body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:98vh ;
    width: 97vw;
}
#button_box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 80px;
            background-color: rgb(221, 221, 221);
            overflow:hidden ;
            border-radius: 100px;
            position: relative;
            


    }
#rotating_line{
                width: 500px;
                height: 80px;
                background:linear-gradient(55deg,rgb(225, 253, 10),red);
                rotate: -30deg;
                animation-name: rotate;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
            }
@keyframes rotate{
         0%{
                transform: rotate(0deg);

            }
        100%{
                 transform: rotate(360deg);
            }
    }
button{
    position: absolute;
    height: 75px;
    width: 194px;
    margin-top: 80px;
    border-radius: 100px;
    border: none;
    font-size: 30px;
    background-color:rgb(157, 195, 196);

}
